# Trafic prediction

### Let's discover data first

imports

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go

In [9]:
df = pd.read_csv("sources/traffic_training_data.csv")
df.describe(include='object')

              Time Day of the week Traffic Situation
count         2380            2380              2380
unique          96               7                 4
top     4:45:00 PM         Tuesday            normal
freq            29             391              1317

In [10]:
df.head()

,Unnamed: 0,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,0,9:45:00 AM,17,Tuesday,92,19,15,7,133,normal
1,1,11:15:00 PM,27,Friday,19,4,0,12,35,low
2,2,7:45:00 PM,14,Saturday,56,7,12,12,87,low
3,3,6:30:00 AM,16,Monday,118,40,40,3,201,heavy
4,4,1:15:00 AM,27,Friday,15,5,0,27,47,normal

day of the week -> heatmap with traffic
time+date -> line

for count -> line with all vehicle type and total abscisse : time and background color change with traffic situation